# OS
.DS_Store

# IDE
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!example.tfvars

# Environment
.env
.env.*
!.env.example

# Secrets
*.pem
*.key
*.crt

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/

# Build
dist/
build/